body {
  display: grid;
  place-items: center;
  height: 100vh;
  background: rgb(48, 46, 46);
}

.flexbox-container {
  background: yellow;
  position: relative;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  width: 97vw;
  /* align-items: center; */
  /* height: 800px; */
}
.flexbox-container::before {
  content: "Flexbox Container";
  position: absolute;
  top: -45px;
  color: gold;
  font-size: 2rem;
}

.flexbox-item {
  width: 200px;
  margin: 10px;
  border: 3px solid navy;
  background: rgb(231, 222, 204);
  padding: 10px;
}

.flexbox-item-1 {
  min-height: 100px;
  flex-grow: 1;
}
.flexbox-item-2 {
  min-height: 200px;
  flex-grow: 2;
}
.flexbox-item-3 {
  min-height: 300px;
  flex-shrink: 0;
}
